monitor index: 0
character data:
    a: 7
    b: 9
    c: 8
    d: 9
    e: 7
    f: 7
    g: 9
    h: 9
    i: 3
    j: 4
    k: 8
    l: 4
    m: 12
    n: 8
    o: 9
    p: 9
    q: 9
    r: 5
    t: 7
    s: 8
    u: 8
    v: 8
    w: 12
    x: 7
    y: 8
    z: 7
    " ": 4
    1: 7
    2: 9
    3: 8
    4: 7
    5: 8
    6: 8
    7: 8
    8: 8
    9: 7
    0: 9
